<h1>Restaurants</h1>

<table>
  <td><%= link_to "Add a Restaurant", new_restaurant_path %></td>

  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Description</th>
  </tr>


  <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= restaurant.name %></td>
      <td><%= restaurant.location %></td>
      <td><%= restaurant.description %></td>
      <td><%= link_to "Show", restaurant_path(restaurant) %></td>
      <td><%= link_to "Edit", edit_restaurant_path(restaurant) %></td>
    </tr>
    <%end%>

</table>
