<p>
  <strong>Name</strong>
  <%= @restaurant.name %>
</p>
<p>
  <strong>Location</strong>
  <%= @restaurant.location %>
</p>
<p>
  <strong>Description</strong>
  <%= @restaurant.description %>
</p>
<td><%= link_to "Edit", edit_restaurant_path(@restaurant) %></td>
<td><%= link_to "Back", restaurant_path(@restaurant) %></td>
